@import '@styles/colors.scss';
@import '@styles/sizes.scss';

.input{
	background-color: $CURRENCY_CARD_BACK;
	padding: 20px;
	font-size: 22px;
	border: 2px solid $CURRENCY_CARD_STROKE;
	border-radius: 10px;
	color: $WHITE;
	font-weight: 300;
	width: 100%;

	&:focus{
		box-shadow: 0 0 20px rgba($LIGHT_GRAY, 0.4);
	}
}

@media screen and (max-width: $SMALL_TABLET) {
	.input {
		padding: 13px;
		font-size: 18px;
	}
}

.input.light {
	background-color: $LIGHT_GRAY;
	border: 2px solid $GRAY;
	color: $BLACK;

	&:focus {
		box-shadow: 0 0 20px rgba($GRAY, 0.4);
	}
}