@import '@styles/colors.scss';

.button{
	padding: 20px 40px;
	border-radius: 10px;
	min-width: 200px;
	background-color: $LIGHT_GREEN;
	transition: all 0.3s ease;

	&.secondary{
		background-color: transparent;
		border: 3px solid $LIGHT_GREEN;
		color: $LIGHT_GREEN;

		&:hover{
			background-color: $DARK_GREEN;
			border: 3px solid $DARK_GREEN;
			color: $BLACK;
		}
	}

	&.disabled{
		background-color: $GRAY;
		pointer-events: none;
	}


	&:hover{
		background-color: $DARK_GREEN;
	}

	span{
		font-size: 24px;
		font-weight: 400;
	}
}


