$WHITE: #fff;
$BLACK: #030304;
$LIGHT_GREEN: #a3dc00;
$LIGHT_GREEN_MEDIUM: #aedf23;
$DARK_GREEN: #00ce2c;
$LAST_UPDATED_GREEN: #00BC4F;
$BANNER_GREEN: #24794045;
$GRAY: #898989;
$LIGHT_GRAY: #D9D9D9;
$BLUR: #185CFF;
$BLUE_GRAY: #607D94;
$CURRENCY_CARD_BACK: #202025;
$CURRENCY_CARD_STROKE: #474747;
$CURRENCY_CARD_GRAY: #A7B2C3;
$TIMELINE_RED: #EA3943;
$TIMELINE_GREEN: #16C782;
$TIMELINE_ORANGE: #FF971D;

