@import '@styles/colors.scss';
@import '@styles/sizes.scss';

.footer{
	padding: 40px 0;

	&__copyright{
		font-weight: 400;
		font-size: 24px;
		color : $GRAY;
		text-align: center;
	}

	.main {
		display: flex;
		margin: 0 0 50px 0;

		&__descr{
			flex: 0 1 470px;
			margin: 0 120px 0 0;
		}

		&__title{
			display: flex;
			align-items: center;
			margin: 0 0 30px 0;

			h4{
				padding: 0 0 0 30px;
				font-weight: 600;
				font-size: 26px;
				background: linear-gradient(92deg, $DARK_GREEN 0%, $LIGHT_GREEN_MEDIUM 49.26%, $LIGHT_GREEN 100%);
				background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}

		&__text{
			font-size: 24px;
			line-height: 36px;
		}

		&__nav{
			flex: 1 1 auto;
			display: flex;
			justify-content: space-between;
			margin: 0 -35px;
		}

		&__menu{
			font-family: "Inter";
			padding: 0 35px;
			font-weight: 400;

			h4{
				font-size: 28px;
				margin: 0 0 40px 0;
			}
		}

		&__menuItem {
			margin: 0 0 28px 0;
			cursor: pointer;
			
			a{
				font-size: 24px;
				color: $GRAY;
				transition: all 0.3s ease;

				&:hover{
					color: $LIGHT_GREEN;
				}
			}
			
		}
	}
}

@media screen and (max-width: $SMALL_DESKTOP) {
	.footer{
		.main {
			flex-direction: column;
			align-items: center;
			max-width: 700px;
			margin: 0 auto 50px;

			&__descr {
				flex: 1 1 auto;
				margin: 0 0 80px 0;
			}

			&__text {
				text-align: center;
			}

			&__title {
				display: flex;
				justify-content: center;

				svg{
					transform: scale(0.8);
				}
				h4 {
					padding: 0 0 0 20px;
					font-size: 30px;
				}
			}

			&__menu {
				padding: 0 55px;
			}

		}
	}
}

@media screen and (max-width: $NORMAL_TABLET) {
	.footer {
		padding: 30px 0;

		&__copyright {
			font-size: 20px;
		}

		.main {
			margin: 0 0 35px 0;

			&__descr {
				margin: 0 0 50px 0;
			}

			&__title {
				svg {
					transform: scale(0.7);
				}
		
				h4 {
					font-size: 26px;
				}
			}

			&__text {
				font-size: 20px;
			}

			&__menu {
				h4 {
					font-size: 24px;
					margin: 0 0 35px 0;
				}
			}

			&__menuItem {
				margin: 0 0 25px 0;
				a {
					font-size: 20px;
				}
			}
		}
	} 
}

@media screen and (max-width: $SMALL_TABLET) {
	.footer {
		.main {
			max-width: none;
			align-items: stretch;

			&__descr{
				margin: 0 0 35px 0;
			}

			&__text {
				display: none;
			}

			&__nav {
				flex-direction: column;
				margin: 0;
			}

			&__title {
				margin: 0;
			}

			&__menu {
				padding: 0;

				h4 {
					padding: 25px 0;
					border-bottom: 2px solid $BLUE_GRAY;
					font-size: 20px;
					position: relative;
					margin: 0;
					cursor: pointer;
					transition: all ease 0.3s;

					&:hover{
						color: $GRAY;
					}

					&::after, 
					&::before{
						content: '';
						position: absolute;
						background-color: $WHITE;
						width: 15px;
						height: 2px;
						bottom: 50%;
						border-radius: 5px;
						right: 1px;
						transition: all 0.3s ease;
					}

					&:hover::after,
					&:hover::before{
						background-color: $GRAY;
					}

					&::after {
						transform: translateX(-9px) rotate(45deg);
					}

					&::before {
						transform: rotate(-45deg);
					}

					&.active::after {
						transform: translateX(-9px) rotate(-45deg);
					}

					&.active::before {
						transform: rotate(45deg);
					}
				}
			}

			&__menu	h4.active ~ .main__itemsWrapper{
				max-height: 120px;
				padding: 20px 0 0 0;
			}

			&__itemsWrapper {
				max-height: 0px;
				overflow: hidden;
				transition: all linear 0.3s;
			}

		}
	}
}

@media screen and (max-width: $LARGE_PHONE) {
	.footer {
		&__copyright {
			font-size: 18px;
		}

		.main {
			
			&__descr {
				margin: 0 0 25px 0;

			}

			&__title {
				svg {
					transform: scale(0.5);
				}
		
				h4 {
					font-size: 22px;
					padding: 0 0 0 7px;
				}
			}

			&__menu {
				h4 {
					font-size: 18px;
				}
			}

			&__menuItem {
				margin: 0 0 20px 0;

				a {
					font-size: 18px;
				}
			}
		}
	}
}

@media screen and (max-width: $NORMAL_PHONE) {
	.footer {
		.main {
			&__title {
				svg {
					display: none;
				}

				h4 {
					padding: 0;
					text-align: center;
					line-height: 30px;
				}
			}
		}
	}
}