@import '@styles/colors.scss';
@import '@styles/sizes.scss';

.banner{
	padding: 160px 0 58px;
	background: linear-gradient(225deg, $BLACK 0%, $BANNER_GREEN 60%, $BLACK 100%);

	&__inner {
		display: flex;
	}

	&__text{
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	&__title, 
	&__subtitle{
		font-weight: 600;
		text-align: right;
		background: linear-gradient(92deg, $DARK_GREEN 0%, $LIGHT_GREEN_MEDIUM 49.26%, $LIGHT_GREEN 100%);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		padding-right: 64px;
	}

	&__title{
		margin: 0 15px 20px 0;
		font-size: 76px;
	}

	&__subtitle{
		font-size: 90px;
		margin-bottom: 30px;
	}

	&__label {
		font-size: 25px;
		line-height: 50px;
		text-align: center;
		color: $LIGHT_GRAY;
		font-weight: 300;
		max-width: 400px;
		text-wrap: wrap;
	}

	&__logo{
		width: 300px;
		margin-left: 10px;

		img{
			width: 100%;
		}
	}
}

@media screen and (max-width: $SMALL_DESKTOP) {
	.banner {
		&__text {
			margin: 0 auto;
			align-items: center;
		}

		&__title,
		&__subtitle {
			text-align: center;
			padding: 0;
			margin-bottom: 20px;
		}

		&__subtitle{
			margin-bottom: 30px;
		}

		&__logo {
			display: none;
		}
	}
}

@media screen and (max-width: $NORMAL_TABLET) {
	.banner {

		padding: 140px 0 40px;

		&__title,
		&__subtitle {
			font-size: 55px;
		}

		&__label {
			font-size: 20px;
			line-height: 40px;
		}
	}
}

@media screen and (max-width: $SMALL_TABLET) {
	.banner {
		padding: 115px 0 25px;
		
		&__title,
		&__subtitle {
			font-size: 45px;
		}

		&__title{
			line-height: 60px;
			margin-bottom: 10px;
		}
		
		&__label {
			font-size: 16px;
			line-height: 30px;
		}
	}
}